<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bam.android.inspirelauncherthemesample"
    android:versionName="1.0.0"
    android:versionCode="100">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="19" />

    <application android:allowBackup="true"
        android:label="@string/theme_title"
        android:icon="@drawable/icon">

        <activity android:name=".DummyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme.gowidget" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.fede.launcher.THEME_ICONPACK" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="com.bam.android.inspirelauncher.action.THEME" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
